<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:n="native" xmlns:w='client'>
	<include src="/navbar.zul"/>
	<vlayout viewModel="@id('viewModel') @init('array.ViewModel')">
		<grid>
			<columns>
				<column label="Type"/>
				<column label="Content"/>
			</columns>
			<rows>
				<row>
					<label value="Array length:"/>
					<spinner value="@bind(viewModel.length)" instant="true" constraint="no negative, no zero"/>
				</row>
				<row>
					<label value="Search:"/>
					<intbox value="@bind(viewModel.search)" instant="true"/>
				</row>
				<row>
					<label value="Position:"/>
					<label value="@load(viewModel.position eq -1 ? 'Not found' : viewModel.position)"/>
				</row>
				<row>
					<label value="Max number:"/>
					<label value="@load(viewModel.max)"/>
				</row>
				<row>
					<label value="Min number:"/>
					<label value="@load(viewModel.min)"/>
				</row>
				<row>
					<cell colspan="2" style="text-align:center">
						<button onClick="@command('generate')" label="Generate"/>
					</cell>
				</row>
			</rows>
		</grid>
		<listbox model="@load(viewModel.list)">
			<listhead>
				<listheader label="Array"></listheader>
			</listhead>
			<template name="model">
				<listitem>
					<listcell label="@load(each)"></listcell>
				</listitem>
			</template>
		</listbox>
	</vlayout>
</zk>