<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:n="native" xmlns:w='client'>
	<div viewModel="@id('viewModel') @init('communication.Inner')">
		<textbox instant="true" value="@bind(viewModel.value)"/>
		<button label="Notify" onClick="@command('notifyChange')"/>
	</div>
</zk>